language: node_js
 - "8.7"

addons:
  ssh_known_hosts: alfa.smartstorm.io

before_install:
 - openssl aes-256-cbc -K $encrypted_8f2e1fe0e7f3_key -iv $encrypted_8f2e1fe0e7f3_iv -in deploy_rsa.enc -out deploy_rsa -d
 - eval "$(ssh-agent -s)"
 - chmod 600 deploy_rsa
 - ssh-add deploy_rsa
  
script: npm install

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/* travis@alfa.smartstorm.io:/var/opt/storm-api/
  on:
    branch: develop

